#cont_iframe{
    display: block;
    padding: 0%;
    width: auto;
    
    

}

#cont_linkuri{
    margin: 0 auto;
    padding: 0%;
    width: auto;
   
    text-align: center;
}

#cont_linkuri a{
    padding: 0%;
    margin: auto 10px;
    display: inline-flex; 
    height: 40px;
    width: 120px;
    border: 2px solid var(--dark-grey);
    border-bottom: 0px;
    background-color: var(--light-grey);
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 20px;
    transition: all 0.7s linear;

}

#cont_linkuri a:hover{
    background-color: var(--off-white);
}

#cont_vid{
    margin-top: 0%;

    
    border: 3px solid var(--dark-grey);
    background-color: var(--light-grey);
    text-decoration: none;
    
    width: auto;
    height: auto;
}