/* 
Paleta culori: https://coolors.co/palette/390099-9e0059-ff0054-ff5400-ffbd00
  

*/

:root {
    --mov: #390099;
    --visiniu: #9E0059;
    --visiniu-t:rgb(158, 0, 89, 0.3) ;
    --roz: #FF0054;
    --portocaliu: #FF5400;
    --galben: rgb(255, 221, 128);
    --galben-t: rgb(255, 221, 128,0.3);
    --width-buton: 5em;
    --width-buton-produse: 10em;
    --height-buton:2.5em;
    margin: 0px;
    padding: 0px;

  }
  



#main_grid {
    display: grid;
    grid-template-areas: "z-poster z-poster z-poster"
                        "z-calendar z-tabel z-anunturi"
                        "z-utilizatori z-tabel z-anunturi"
                        "z-utilizatori z-statistici z-date"
                        "z-iframe z-videoclipuri z-videoclipuri";


    
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr; 
}

#poster{
    grid-area: z-poster;
    width: auto;
    margin: auto;
    text-align: center;
}

#calendar{
    grid-area: z-calendar;
} 

#tabel{
    grid-area:z-tabel;
}

#anunturi{
    grid-area: z-anunturi;
}

#utilizatori{
    grid-area: z-utilizatori;
}

#statistici{
    grid-area: z-statistici;
}

#date{
    grid-area: z-date;
    
}

#downloads a{
    text-decoration: none;
    color: black;
}


#videoclipuri{
    grid-area: z-videoclipuri;
}

#cont_iframe{
    grid-area: z-iframe;
     /* border: 2px solid black; */
     
 
 }
::cue{
    color: var(--mov);
    background: var(--galben-t);
}



main div{
    /* border: 1px solid var(--mov); */
    margin: 5px;
    padding: 10px;
}


#galerie_statica{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

#galerie_statica figure:nth-child(7){
    grid-area: 3/2/4/3;
}

#galerie_statica img{
    width: 100%;
}


#galerie_statica.figcaption::before{
    counter-increment: nr_imag;
    content: counter(nr_imag) ") ";
}

#galerie_statica figcaption{
    text-align: center;
}

#galerie_statica figure:hover figcaption{
    transform: scale(1.45, 1.45);
    
}

#galerie_statica figure:hover img{
    filter: contrast(200%);
}

#galerie_statica figure *{
    transition: all 1100ms linear;
}

body{
    padding: 0;
    margin: 0;
}

header>nav{
    background-color: var(--portocaliu);
    
}

#hamburger{
    display:none;
}

#ch-menu{
    display: none;
}

ul.meniu{
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}

ul.submeniu{
    display: none;
}


ul.meniu li{
    width: var(--width-buton);
    height: var(--height-buton);
    list-style-type: none;
    background-color: var(--portocaliu);
}

ul.meniu li ul li{
    width: var(--width-buton-produse);
    height: var(--height-buton);

}

ul.meniu>li a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: var(--height-buton);
    color:#390099;

    
    
    
}

/* ul.meniu>li>a{
    text-shadow: 2px -20px 4px var(--mov);
    display: none;
} */

ul.meniu>li>a:hover{
    /* text-shadow: 2px 2px 4px var(--mov); */
    animation: umbra;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}


@keyframes umbra {
    0%{ text-shadow: 2px -15px 4px var(--mov); background-color: #FF5400;}
    100%{text-shadow: 2px 2px 4px var(--mov);background-color: var(--roz);}
}

ul.meniu>li.meniu-produse:hover{
    width: var(--width-buton-produse);
    height: var(--height-buton);
    animation: expansiune_produse;
    animation-duration: 0.5s;
    transform-origin: left;

}


ul.meniu>li:hover>ul.submeniu{
    width: var(--width-buton-produse);
    height: var(--height-buton);
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    animation: aparitie_submeniu;
    animation-duration: 0.8s;
    transform-origin: top;
    text-decoration: none;

}


ul.meniu>li>ul.submeniu>li>a{
    
    text-decoration: underline 0.15em rgba(57, 0, 153, 0);
    transition:  1s;

}

ul.meniu>li>ul.submeniu>li>a:hover{
    background-color: var(--roz);
    text-decoration-color: rgba(57, 0, 153, 1);
    

}

@keyframes expansiune_produse {
    0%{transform: scaleX(0.5);}
    100%{transform: scaleX(1);}    
}

@keyframes aparitie_submeniu {
    0%{transform: scaleY(0);}
    100%{transform: scaleY(1);}    
}




footer{
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;  
    
    margin:auto;

}

.text-right {

    text-align: right;
    }


   
    