html{
    font-size:9px;
  }



:root {
    --mov: #390099;
    --visiniu: #9E0059;
    --roz: #FF0054;
    --portocaliu: #FF5400;
    --galben: rgb(255, 221, 128);

  }
  



#main_grid  {
    display: grid;
    grid-template-areas: "z-poster"
                        "z-calendar"
                        "z-tabel"
                        "z-anunturi"
                        "z-utilizatori"
                        "z-date"
                        "z-videoclipuri"
                        "z-iframe";


    
    grid-template-rows: 1fr 0.15fr 0.3fr 0.5fr 0.5fr 0.5fr auto;
    grid-template-columns: 1fr; 
}


#poster{
    grid-area: z-poster;
    width: auto;
    margin: auto;
    text-align: center;
}

#calendar{
    grid-area: z-calendar;
} 

#tabel{
    grid-area:z-tabel;
}

#anunturi{
    grid-area: z-anunturi;
}

#utilizatori{
    grid-area: z-utilizatori;
}

#statistici{
    grid-area: z-statistici;
    display: none;
}

#date{
    grid-area: z-date;
    
}

#downloads a{
    text-decoration: none;
    color: black;
}

#videoclipuri{
    grid-area: z-videoclipuri;
}

#cont_iframe{
    grid-area: z-iframe;
     /* border: 2px solid black; */
     
 
 }

/* Chestii de meniu */

/*facem vizibil iconul de hamburger meniu*/

nav{
    background: var(--portocaliu);
}

#hamburger{
    display:block;
}
/* implicit meniul e ascuns*/
ul.meniu{
    display:none;
    position:absolute;
    width:100%;
}

/*aici facem vizibil meniul cand faem click pe hamburger meniu*/
#ch-menu:checked+ul.meniu{
    width:100%;
    display: block;
    z-index: 2;
    position: relative;
    transform-origin: 0 0;
    animation-name: aparitie_meniu_p;
    animation-iteration-count:1;
    animation-duration:0.7s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
}
#ch-menu:checked+ul.meniu>li>div,#ch-menu:checked+ul.meniu>li>a{
    width:100%;
    z-index: 2;
    position: relative;
    transform-origin: 50% 50%;
    animation-name: aparitie_meniu_p_btn;
    animation-iteration-count:1;
    animation-duration:0.4s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
}
/*optiunile se intind pe toata latimea containerului*/
nav ul.meniu li{
    width:100%;
}

/*meniul sa vina deasupra continutul de mai jos, fara sa impinga continutul*/
nav ul.meniu>li ul{
    position:relative;
    text-align: center;
    width:100%;
    z-index:200;
    transform:scale(1,1);
}

#ch-menu:checked+ul.meniu>li ul>*{
    position:relative;
    z-index:200;
}
nav ul.meniu>li:hover>ul{
    text-align: center;
    align-self: auto;
    z-index:200;
    animation:none;
    width:100%;
}




/* pentru fiecare element din submeniu generam un triunghiulet alb inaintea lui*/
nav ul.meniu>li li a:before{
    content:" \25B7\00A0	";
    color:white;

}

@keyframes aparitie_meniu_p{
    0%{
        letter-spacing: -10px;
    } 
	100%{
    	letter-spacing: 0px;
    }
}

@keyframes aparitie_meniu_p_btn{
    0%{
        letter-spacing: -4.5px;
    } 
	100%{
    	letter-spacing: 0px;
    }
}