html{
    font-size:12px;
  }



:root {
    --mov: #390099;
    --visiniu: #9E0059;
    --roz: #FF0054;
    --portocaliu: #FF5400;
    --galben: rgb(255, 221, 128);

  }
  



#main_grid  {
    display: grid;
    grid-template-areas: "z-poster z-poster"
                        "z-calendar z-tabel"
                        "z-utilizatori z-utilizatori"
                        "z-statistici z-date"
                        "z-videoclipuri z-videoclipuri" 
                        "z-iframe z-iframe";


    
    grid-template-rows: 1fr 0.5fr repeat(3,1fr);
    grid-template-columns: 0.5fr 0.5fr 1fr; 
}



#poster{
    grid-area: z-poster;
    width: auto;
    margin: auto;
    text-align: center;
}

#calendar{
    grid-area: z-calendar;
} 

#tabel{
    grid-area:z-tabel;
}

#anunturi{
    grid-area: z-anunturi;
    display: none;
}

#utilizatori{
    grid-area: z-utilizatori;
}

#statistici{
    grid-area: z-statistici;
}

#date{
    grid-area: z-date;
    
}

#downloads a{
    text-decoration: none;
    color: black;
}


#videoclipuri{
    grid-area: z-videoclipuri;
}

#cont_iframe{
   grid-area: z-iframe;
    /* border: 2px solid black; */
    

}

/* Chestii de meniu */

#hamburger{
    display:none;
}
