html{
    font-size:12px;
  }



:root {
    --mov: #390099;
    --visiniu: #9E0059;
    --roz: #FF0054;
    --portocaliu: #FF5400;
    --galben: rgb(255, 221, 128);

  }
  



#gr {
    display: grid;
    grid-template-areas: "z-poster z-poster z-poster"
                        "z-mica z-despre z-despre"
                        "z-anunturi z-anunturi z-utilizatori"
                        "z-statistici  z-statistici z-date"
                        "z-topProduse z-topProduse z-topProduse";


    
    grid-template-rows: 1fr 0.5fr repeat(3,1fr);
    grid-template-columns: 0.5fr 0.5fr 1fr; 
}


#poster{
    grid-area: z-poster;
    
}

#cevamic{
    grid-area: z-mica;
} 

#despre_noi{
    grid-area:z-despre;
}

#anunturi{
    grid-area: z-anunturi;
}

#utilizatori{
    grid-area: z-utilizatori;
}

#statistici{
    grid-area: z-statistici;
}

#date{
    grid-area: z-date;
}

#iframescreen{
    grid-area: z-topProduse;
}



/* Chestii de meniu */

#hamburger{
    display:none;
}
