/* 
Paleta culori: https://coolors.co/palette/390099-9e0059-ff0054-ff5400-ffbd00
  

*/

:root {
    /* culori noi */
    --black: #0d0d0d;
    --dark-grey: #1d1d1d;
    --off-black: #121212;
    --light-grey: #909596;
    --off-white: #c4c8c5;
    --red: #b81b24;
    --blue: #0075ad;
    --green: #48A14D;
    /* culori vechi */
    --width-buton: 5em;
    --width-buton-produse: 10em;
    --height-buton: 2.5em;
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    /* Font Logo: Baskerville Old Face */
    background-color: var(--dark-grey);
    color: var(--off-white);
}

#main_grid {
    padding: 10px;
    display: grid;
    grid-template-areas: "z-poster z-poster z-poster" "z-calendar z-tabel z-anunturi" "z-utilizatori z-tabel z-anunturi" "z-utilizatori z-statistici z-date" "z-iframe z-videoclipuri z-videoclipuri" "z-galerie_statica z-galerie_statica z-galerie_statica";
    grid-template-rows: 1.4fr 1fr 1fr 1fr 1fr 5fr;
    grid-template-columns: 1fr 3fr 1fr;
}

#main_grid>* {
    background-color: var(--off-black);
    border-radius: 30px;
    border: 2px solid var(--black);
    box-shadow: var(--off-black) 12px 12px 15px;
    margin: 12px;
    padding: 15px;
}

#poster {
    font-size: large;
    grid-area: z-poster;
    width: auto;
    margin: 10px;
    text-align: center;
}

#poster figcaption {
    font-size: smaller;
    padding: 0px;
    margin-top: 0px;
}

#calendar {
    grid-area: z-calendar;
}

#tabel {
    grid-area: z-tabel;
}

#anunturi {
    grid-area: z-anunturi;
}

#utilizatori {
    grid-area: z-utilizatori;
}

#statistici {
    grid-area: z-statistici;
}

#date {
    grid-area: z-date;
}

#downloads a {
    text-decoration: none;
    color: var(--off-white);
    letter-spacing: 2px;
}

#cont_iframe {
    grid-area: z-iframe;
    /* border: 2px solid black; */
}

#videoclipuri {
    grid-area: z-videoclipuri;
    display: inline-flex;
}

#gal_statica {
    grid-area: z-galerie_statica;
    height: fit-content;
}

::cue {
    line-height: 100%;
    color: var(--off-black);
    background: var(--light-grey);
}

main div {
    /* border: 1px solid var(--light-grey); */
    margin: 5px;
    padding: 10px;
}

body {
    padding: 0;
    margin: 0;
}

header>nav {
    background-color: var(--off-black);
}

#hamburger {
    display: none;
}

#ch-menu {
    display: none;
}

ul.meniu {
    display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
}

ul.submeniu {
    display: none;
}

ul.meniu li {
    width: var(--width-buton);
    height: var(--height-buton);
    list-style-type: none;
    background-color: var(--off-black);
}

ul.meniu li ul li {
    width: var(--width-buton-produse);
    height: var(--height-buton);
}

ul.meniu>li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: var(--height-buton);
    color: var(--off-white);
}

ul.meniu {
    margin-left: 15px;
}


/* ul.meniu>li>a{
    text-shadow: 2px -20px 4px var(--light-grey);
    display: none;
} */

ul.meniu>li>a:hover {
    /* text-shadow: 2px 2px 4px var(--light-grey); */
    animation: umbra;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes umbra {
    0% {
        text-shadow: 2px -15px 4px var(--light-grey);
        background-color: var(--dark-grey);
    }
    100% {
        text-shadow: 2px 2px 4px var(--light-grey);
        background-color: var(--light-grey);
    }
}

ul.meniu>li.meniu-produse:hover {
    width: var(--width-buton-produse);
    height: var(--height-buton);
    animation: expansiune_produse;
    animation-duration: 0.5s;
    transform-origin: left;
}

ul.meniu>li:hover>ul.submeniu {
    width: var(--width-buton-produse);
    height: var(--height-buton);
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    animation: aparitie_submeniu;
    animation-duration: 0.8s;
    transform-origin: top;
    text-decoration: none;
}

ul.meniu>li>ul.submeniu>li>a {
    text-decoration: underline 0.15em rgba(57, 0, 153, 0);
    transition: 1s;
}

ul.meniu>li>ul.submeniu>li>a:hover {
    background-color: var(--light-grey);
    text-decoration-color: var(--red);
}

@keyframes expansiune_produse {
    0% {
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes aparitie_submeniu {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: auto;
}

#copyright {
    text-align: center;
}

#contact {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 100%;
    height: 125%;
}

#contact address a {
    color: var(--blue);
    font-weight: bolder;
}

#contact h2 {
    margin-top: 2px;
}

.text-right {
    text-align: right;
}

#banner {
    display: none;
}