<footer>
       
        
    <section id = "contact">
        <h2>Informatii de contact</h2>
        <address>
            Telefon: <a href="tel:+40721844977" target="_blank">0721844977</a>
            <br>
            Adresa: <a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Informatics+-+University+of+Bucharest/@44.4353349,26.0994336,18.58z/data=!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867" target="_blank">Strada Academiei 14, București 010014</a>
            <br>
            Email: <a href = "mailto:fyresoundaudio@gmail.com" target="_blank">fyresoundaudio@gmail.com</a>
            <br>
            Whatsapp: <a href= "https://wa.me/072184497" target="_blank"> 072184497</a>
        </address>
    </section>


    <section id = "copyright">
        <small>
        &#169; Fyresound Store
        <time datetime="2022-02-20"> 20 Februarie 2022 </time>
        </small>

    </section>

    <!-- <section  id = "go-up" class = "text-right">

        <h2>Go up:</h2>
        <a href="index.html">Click!</a>
   </section> -->

   <a href="#" id="link-top"><div id="triunghi"><b>ᐃ</b></div></a>



</footer>