<link rel="stylesheet" href="./resurse/css/header.css"  type="text/css" />


<header>

    <h1>Magazinul pasionaților de audio!</h1>


    
    <nav>
        <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/Hamburger_icon_alb.png"  width="100" height="100" alt="menu">
        </label>

        <input id="ch-menu" type="checkbox">

        <ul class = "meniu">
            <li> <a href = "index.html">Acasa</a></li>

            <li class="meniu-produse"><a href="#">Produse</a>
                <ul class = "submeniu">
                    <li><a href="#">Casti</a></li>
                    <li><a href="#">Microfoane</a></li>
                    <li><a href="#">Instrumente Studio</a></li>
                </ul>
            </li>

            <li><a href="#">Promotii</a></li>




            <!-- <li><div>Acasa</div>
                <ul>
                    <li><a href="#despre_noi">Despre noi</a></li>
                    <li><a href="#producatori">Producatori</a></li>
                    <li><a href="#produse_populare">Produse populare</a></li>
                    <li><a href="#servicii">Servicii</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </li>

            <li><div>Casti</div>
                <ul>
                    <li><a href="casti.html/IEM">In Ear Monitors</a></li>
                    <li><a href="casti.html/openback">Casti Open Back</a></li>
                    <li><a href="casti.html/closedback">Casti Closed Back</a></li>
                </ul>
            </li>

            <li><div>Microfoane</div>
                <ul>
                    <li><a href="microfoane.html/voce"> Microfoane de vode si live</a></li>
                    <li><a href="microfoane.html/studio">Microfoane de studio</a></li>
                    <li><a href="microfoane.html/usb">Microfoane USB</a></li>
                </ul>
            </li>

            <li><div>Instrumente Studio</div>
                <ul>
                    <li><a href="instrumente.html/interfete">Interfete audio si amplificatoare</a></li>
                    <li><a href="instrumente.html/conectori">Cabluri si conectori</a></li>
                    <li><a href="instrumente.html/monitoare">Monitoare de studio</a></li>
                    <li><a href="instrumente.html/software">Software</a></li>

                </ul>
            </li>

            <li><div>Promotii</div>
                <ul>
                    <li><a href="#s2">Despre noi</a></li>
                    <li><a href="monitoare_studio.html">Producatori</a></li>
                    <li><a href="casti.html">Produse populare</a></li>
                </ul>
            </li> -->
        </ul>
    </nav>


</header>