<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Fyresound - Magazinul pasionaților de audio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="audio, HIFI, echipamente_audio, casti, microfoane, monitoare_studio">
    <meta name="description" content="Site dedicat audiofililor si creatorilor de muzica.">




    <%- include("../fragmente/head.ejs");  %>


        <!-- CSS -->
        <link href="./resurse/css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="resurse/css/style_700.css" type="text/css" media="screen and (max-width: 700px)" />
        <link rel="stylesheet" href="resurse/css/style_400.css" type="text/css" media="screen and (max-width: 500px)" />
        <link href="/resurse/css/link_sus.css" rel="stylesheet" type="text/css" />
        <link href="./resurse/css/error.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <%- include("../fragmente/header.ejs");  %>

        <main>
            <div>
                <h2>Eroarea 403</h2>
                <h2> Nu, aici nu ai acces!</h2>
            </div>


        </main>




</body>


</html>