<!DOCTYPE html>
<html lang="ro">

<head>

    <title>Fyresound</title>
    <meta name="description" content="Magazinul Fyresound pentru microfoane si casti online si livrare prin curier.">
    <meta name="keywords" content="audio, sunet, microfoane, dinamic, produs, produse">

    <%- include("../fragmente/head") %>
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <%- include("../fragmente/header") %>

        <main>
            <h2>Ceva</h2>
        </main>

        <%- include("../fragmente/footer") %>
</body>

</html>