<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Fyresound - Magazinul pasionaților de audio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="keywords" content="audio, HIFI, echipamente_audio, casti, microfoane, monitoare_studio">
    <meta name="description" content="Site dedicat audiofililor si creatorilor de muzica.">
    



    <%- include("../fragmente/head.ejs");  %> 


    <!-- CSS -->
    <link href="/resurse/css/iframe.css" rel="stylesheet" type="text/css" />
    <link href="/resurse/css/link_sus.css" rel="stylesheet" type="text/css" />
    
    <link href="/resurse/css/tabel.css" rel="stylesheet" type="text/css" />
    
    
    <link rel="stylesheet" href="./resurse/css/style.css"  type="text/css" />
    <link rel="stylesheet" href="/resurse/css/style_700.css" type="text/css" media="screen and (max-width:700px)" />
	<link rel="stylesheet" href="/resurse/css/style_500.css" type="text/css" media="screen and (max-width:500px)" />
    <link href="/resurse/css/stil_printare.css" rel="stylesheet" type="text/css" media = "print" />


    <script src="https://kit.fontawesome.com/58c167abb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">

</head>
<body>

    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <%- include("../fragmente/galerie_statica.ejs");  %> 

    </main>

    
    <%- include("../fragmente/footer.ejs");  %> 
    

</body>


</html>
